/* app css stylesheet */

html, body, .app {
	height: 100% !important;
	max-height: 100% !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	background-color: #F4F2EF !important;
}

/*prevent select text on mobile*/
*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	touch-callout: none;
	user-select: none;
	tap-highlight-color: rgba(0,0,0,0);
}

.md-button {
	border-radius: 0 !important;
}


.toolbar {
	padding: 20px 0 0 0 !important;
	margin: 0px !important;
	height: 60px !important;
	background-color: #0080FF !important;
	color: #F4F2EF !important;
}

.toolbar.Android {
	padding: 0px !important;
	min-height: 40px !important;
	height: 40px !important;
	max-height: 40px !important;
}

md-subheader.sidenav.Android {
	height: 40px !important;
}

.toolbar-logo {
	height:18px;
}

.toolbar-title {
	font-size: 0.6em;
	font-family: 'Roboto Slab';
	font-weight: 700;
	color: #FFFFFF;
	padding-top: 0.5em;
}


md-sidenav {
	min-width: 18em !important;
	max-width: 18em !important;
}

md-backdrop.md-opaque {
	background-color: #000000 !important;
}

body > md-backdrop {
	background-color: #F4F2EF !important;
}

md-list-item > button,
md-list-item > button > * {
	border-radius: 0px !important;
}

md-content {
	background-color: transparent !important;
	overflow-x: hidden !important;
}

md-card {
	margin: 0px 0px 8px 0px !important;
	box-shadow: none !important;
}

img.md-card-image {
	image-rendering: -webkit-optimize-contrast !important;
	border-radius: 0 !important;
}


input.ng-touched.ng-invalid {
	border-color: red !important;
}


.card-action {
	margin: 0px !important;
	padding: 10px !important;
	font-size: 0.8em !important;
	line-height: 0.8em !important;
	min-height: 1em !important;
	min-width: 0em !important;
}

.card-title {
	font-size: 1.2em;
    padding: 1em 1em;
    font-family: "roboto slab";
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 0px 0px 0px 0px;
}

.card-content {
	padding: 1em 1em 0.5em 1em;
	font-family: "roboto slab";
}






.cart {
	padding: 0 0em 0em 0.5em;
	margin: 0;
	height: 3em;
	width: 100%;
	font-size: 0.9em;
	font-weight: 400;
}



md-icon.small-icon {
	height: 1em;
	width: 1em;
	margin-top: -0.1em;
	padding-right: 0;
}


.cart.opened {
	background-color: #F4F2EF;
	color: black;
	border-top: 1px solid #d1cfcd;
}

.cart.closed {
	background-color: #26BD49;
	color: white;
	border-top: 1px solid #1d8f37;
}

.cart.closed > div > md-icon > svg {
	fill: #ffffff;
}
.cart.opened > div > md-icon > svg {
	fill: #000000;
}

.carting-go {
	height: 2em;
    width: 2em;
    border-radius: 1em;
    margin-right: 0.35em;
}

.carting-go > md-icon {
	width: 100%;
	height: 100%;
}

.cart.closed > .carting-go > md-icon > svg {
	fill: #ffffff;
}

.cart.opened > .carting-go > md-icon > svg {
	fill: #26BD49;
}


.checkout {
	font-size: 0.8em;
	font-weight: 300;
	background-color: #F4F2EF;
}


.full-button {
	width: 100%;
	font-size: 14px !important;
	/*height: 3em;*/
}

div > md-icon {
	padding: 8px
}




.svg-black > svg {
	fill: #000000 !important;
}

.svg-white > svg {
	fill: #FFFFFF !important;
}

.svg-blue > svg {
	fill: #0080FF !important;
}

.svg-green > svg {
	fill: #26BD49 !important;
}

.md-icon-button {
	margin:0 !important;
}

.navbar-fixed-top {
	padding: 20pt 0 0 0;
}



div.counter {
	font-size: 3em;
    font-weight: 700;
    color: #000000;
	background-color: #F4F2EF;
    text-align: center;
    line-height: 1.5em;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
	border-right: 1px solid white;
	border-left: 1px solid white;
}


.promoted-button {
	background-color: #F4F2EF !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
	border: none !important;
	border-radius: 0px !important;
}

.promoted-card-content {
	background-color: white !important;
}

.promoted-recipe {
	font-family: "Roboto";
	font-size: 1.5em
}

.promoted-maker {

}

.promoted-desc {

}

.promoted-content > p {
	font-family: 'Roboto Slab';
	font-weight: 300;
}



.md-autocomplete-suggestions-container.md-default-theme li,
.md-autocomplete-suggestions-container li {
	color: black !important;
}

.md-autocomplete-suggestions-container li .highlight {
	color: #26BD49 !important;
}

md-input-container {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

md-input-container.no-errors div.md-errors-spacer,
md-autocomplete md-autocomplete-wrap md-input-container div.md-errors-spacer {
	display:none;
}

.round-cicle {
	width: 8em;
	height: 8em;
	margin: 0 0 2em 0;
}

.card-credit {
	font-family: "roboto";
	font-weight: 300;
}


.attended {
	color: black;
}

.not_attended {
	color: red;
}
