[ui-view].ng-animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.startPage {
  background-color: #F4F2EF !important;
  z-index: 6000;
}
.signinPage, .questPage {
  background-color: #F4F2EF !important;
  z-index: 1000;
}
.startPage.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.startPage.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.startPage-remove.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.startPage-remove.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.signinPage.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.signinPage.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.signinPage-remove.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.signinPage-remove.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}
.questPage.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.questPage.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.questPage-remove.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.questPage-remove.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}







.animate-left.ng-hide-remove {
	animation: 0.25s in ease;
	position:absolute;
}

.animate-left.ng-hide-add {
	animation: 0.25s out ease;
	position:absolute;
}

@keyframes out {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-200%, 0, 0);
	}
}

@keyframes in {
	0% {
		transform: translate3d(-200%, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}





.maincart.ng-hide-remove {
	animation: 0.25s cartin ease;
	position:absolute;
}

.maincart.ng-hide-add {
	animation: 0.25s cartout ease;
	position:absolute;
}

/**/

.productList.ng-hide-remove {
	animation: 0.25s expandheight ease-in;
}

.productList.ng-hide-add {
	animation: 0.25s collapseheight ease;
}

/**/

.checkout.ng-hide-remove {
	animation: 0.25s checkoutin ease;
	/*overflow: hidden;*/
}

.checkout.ng-hide-add {
	animation: 0.5s checkoutout ease;
	/*overflow: hidden;*/
}




@keyframes cartout {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes cartin {
	0% {
		transform: translate3d(0, 100%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes collapseheight {
	0% {
		max-height: 136px;
		padding-top: 8px;
		padding-bottom: 8px;
		/*transform: translate3d(0, 0, 0);*/
	}
	100% {
		max-height: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		/*transform: translate3d(0, 100%, 0);*/
	}
}

@keyframes expandheight {
	0% {
		max-height: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		/*transform: translate3d(0, 100%, 0);*/
	}
	100% {
		max-height: 136px;
		padding-top: 8px;
		padding-bottom: 8px;
		/*transform: translate3d(0, 0, 0);*/
	}
}

@keyframes checkoutout {
	0% {
		max-height: 12em;
	}
	100% {
		max-height: 0em;
	}
}

@keyframes checkoutin {
	0% {
		max-height: 0em;
	}
	100% {
		max-height: 12em;
	}
}


.promoted-counter.ng-hide-remove {
	animation: 0.5s counterin ease;
}

.promoted-counter.ng-hide-add {
	animation: 0.5s counterout ease;
}

.promoted-button.ng-hide-remove {
	animation: 0.5s counterin ease;
}

.promoted-button.ng-hide-add {
	animation: 0.5s counterout ease;
}



@keyframes counterout {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		transform: translate3d(0, -2em, 0);
	}
}

@keyframes counterin {
	0% {
		opacity: 0;
		transform: translate3d(0, -2em, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
