[ui-view].ng-animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.startPage {
  background-color: #F4F2EF !important;
  z-index: 6000;
}
.signinPage, .questPage {
  background-color: #F4F2EF !important;
  z-index: 1000;
}
.startPage.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.startPage.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.startPage-remove.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.startPage-remove.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.signinPage.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.signinPage.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.signinPage-remove.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.signinPage-remove.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}
.questPage.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.questPage.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.questPage-remove.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
.questPage-remove.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}









/*icone da barra superior*/
.menu-icon {
	position:absolute;
}
.menu-icon.ng-leave,
.menu-icon.ng-enter {
	transition: all 0.5s ease;
	position:absolute;
}

.menu-icon.ng-leave.ng-leave-active,
.menu-icon.ng-enter {
	transform: translate3d(-36px, 0, 0);
}

.menu-icon.ng-leave,
.menu-icon.ng-enter.ng-enter-active {
	transform: translate3d(0, 0, 0);
}







/*promoted-counters*/
.promoted-counter.ng-leave,
.promoted-counter.ng-enter {
	transition: all 0.25s;
}

.promoted-counter.ng-leave.ng-leave-active,
.promoted-counter.ng-enter {
	opacity: 0;
	transform: translate3d(0, -2em, 0);
}

.promoted-counter.ng-leave,
.promoted-counter.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

/*promoted-button-minus*/
.promoted-button-minus.ng-leave,
.promoted-button-minus.ng-enter {
	transition: all 0.25s;
}

.promoted-button-minus.ng-leave.ng-leave-active,
.promoted-button-minus.ng-enter {
	opacity: 0;
	transform: translate3d(0, -2em, 0);
}

.promoted-button-minus.ng-leave,
.promoted-button-minus.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}










/*Cart all*/
.main-cart.ng-leave,
.main-cart.ng-enter {
	transition: transform 0.5s ease-in-out;
	position:absolute !important;
	top:100vh !important;
}

.main-cart.ng-leave.ng-leave-active,
.main-cart.ng-enter {
	transform: translate3d(0, 0%, 0);
}

.main-cart.ng-leave,
.main-cart.ng-enter.ng-enter-active {
	transform: translate3d(0, -100%, 0);
}

/*Cart top resume line*/
/*.cart-resume.ng-leave,
.cart-resume.ng-enter {
	transition: max-height 0.125s;
}

.cart-resume.ng-leave.ng-leave-active,
.cart-resume.ng-enter {
	max-height: 0px;
}

.cart-resume.ng-leave,
.cart-resume.ng-enter.ng-enter-active {
	max-height: 38px;
}*/


/*product list block*/
.products-list.ng-leave,
.products-list.ng-enter {
	transition: all 0.25s ease;
}

.products-list.ng-leave.ng-leave-active,
.products-list.ng-enter {
	max-height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.products-list.ng-leave {
	max-height: 136px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.products-list.ng-enter.ng-enter-active {
	max-height: 256px;
	padding-top: 8px;
	padding-bottom: 8px;
}



/*each product listed*/
.product-listed.ng-enter {
	transition: height 0.1s, opacity 0.2s 0.1s;
}

.product-listed.ng-leave {
  transition: opacity 0.1s, height 0.2s 0.1s;
}

.product-listed.ng-leave.ng-leave-active,
.product-listed.ng-enter {
  opacity:0;
  height:0;
}

.product-listed.ng-leave,
.product-listed.ng-enter.ng-enter-active {
  opacity:1;
  height:14px;
}





/*CHECKOUT (map,card,send)*/
.checkout.ng-leave,
.checkout.ng-enter {
	transition: max-height 0.5s;
}

.checkout.ng-leave.ng-leave-active,
.checkout.ng-enter {
	max-height: 0em;
}

.checkout.ng-leave,
.checkout.ng-enter.ng-enter-active {
	max-height: 140px;
}



/*Closed Notice*/
.closed-notice.ng-leave,
.closed-notice.ng-enter {
	transition: transform 0.1s;
}

.closed-notice.ng-leave.ng-leave-active,
.closed-notice.ng-enter {
	transform: translate3d(0, -100%, 0);
}

.closed-notice.ng-leave,
.closed-notice.ng-enter.ng-enter-active {
	transform: translate3d(0, 0, 0);
}
