<span>
	<md-icon md-svg-icon="imgs/ic_done_white_48px.svg"></md-icon> {{cart.quantity_total}}
</span>

<span ng-show="cart.freight_total">
	<md-icon md-svg-icon="imgs/ic_local_shipping_white_48px.svg"></md-icon> {{cart.freight_total | currency:"R$"}}
</span>

<span>
	<md-icon md-svg-icon="imgs/ic_schedule_white_48px.svg"></md-icon> {{cart.estimated_time | secondsToMinutes}}min
</span>

<span>
	<md-icon md-svg-icon="imgs/ic_credit_card_white_48px.svg"></md-icon> {{cart.value_total | currency:"R$"}}
</span>

<div class="carting-go">
	<md-icon md-svg-icon="imgs/ic_navigate_next_white_48px.svg"></md-icon>
</div>



<!-- <div flex layout="column" layout-align="end start">
	<div><small>Entrega: {{cart.freight_total | currency:"R$ "}} - {{cart.estimated_time | secondsToMinutes}} min</small></div>
	<div><small>Total: {{cart.value_total | currency:"R$ "}} - {{cart.quantity_total}} garrafas.</small></div>
	<div ng-show="cart.checking"><small>Mastercard 6788 <a href="" ng-click="">editar</a></small></div>
	<div ng-show="cart.checking"><small>Rua Deputado Lacerda Franco 313, apto 96 <a href="" ng-click="">editar</a></small></div>
</div>
<div flex="none" layout="column" layout-align="end end">
	<md-button ng-hide="cart.checking" ng-show="cart.quantity_total" class="md-raised" ng-click="cart.endCart()">OK</md-button>
	<md-button ng-show="cart.checking" class="md-raised md-primary" ng-click="cart.sendCart()"><strong>Entregar!<strong></md-button>
</div> -->
