<div flex layout="column" layout-align="end center" class="md-padding" style="background-color:#FFFFFF">

	<div class="md-body" style="width:100%" layout="row" layout-align="start center">
		<div flex class="md-caption">
			<span ng-hide="cart.place.description" style="color:red" class="md-caption">Nenhum endereço.</span>
			<span ng-bind="cart.place.description"></span>
			<span ng-show="cart.complement"><br/><span ng-bind="cart.complement"></span></span>
		</div>

		<div flex="none">
			<md-button class="md-icon-button" aria-label="Editar Endereço" ng-click="cart.gotoMap('storePage.offerPage')">
				<md-icon md-svg-icon="imgs/ic_edit_black_48px.svg" class="svg-black"></md-icon>
			</md-button>
		</div>
	</div>


	<div class="md-caption" style="width:100%"  layout="row" layout-align="start center" ng-show="cart.card.self_key">
		<div flex class="md-caption">
			<md-icon md-svg-icon="imgs/ic_credit_card_white_48px.svg" class="svg-black" style="height:1.2em; width:1.2em; margin-top:-0.2em;"></md-icon>
			{{cart.card.mask}} {{cart.card.expiry}}
		</div>
		<div flex="none">
			<md-button class="md-icon-button" aria-label="Editar Cartão" ng-click="cart.gotoCredits('storePage.offerPage')">
				<md-icon md-svg-icon="imgs/ic_edit_black_48px.svg" class="svg-black"></md-icon>
			</md-button>
		</div>
	</div>

	<div flex class="md-body" style="width:100%" layout="row" layout-align="start center" ng-hide="cart.card.self_key">
		<div flex class="md-caption" style="color:red">Nenhum cartão cadastrado.</div>
		<div flex="none">
			<md-button class="md-icon-button" aria-label="Editar Cartão" ng-click="cart.gotoCredits('storePage.offerPage')">
				<md-icon md-svg-icon="imgs/ic_edit_black_48px.svg" class="svg-black"></md-icon>
			</md-button>
		</div>
	</div>




	<md-button ng-click="cart.send()" class="md-accent md-raised" ng-disabled="!cart.card.self_key || !cart.place.place_id">Enviar Pedido</md-button>

</div>
