<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="cool.able" version="0.1.0">
  <name>Able</name>
  <description>Have great craft beer choices selected by our artificial inteligence sommerlier, get even better selections over time as it learns and evolves your tastes. Receive your products wherever you are with same hour delivery on selected areas.</description>
  <author href="http://able.cool" email="help@able.cool">United Beverages of America, LLC. Able.Cool Team</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="handset"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="true"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="false"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="true"/>
  <preference name="deployment-target" value="7.0" />
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.media"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <icon src="icon.png"/>
  <splash src="splash.png"/>
  <splash src="res/ios/splash.png" platform="ios" width="320" height="480"/>
  <splash src="res/ios/splash@2x.png" platform="ios" width="640" height="960"/>
  <splash src="res/ios/splash568h@2x.png" platform="ios" width="640" height="1136"/>
  <splash src="res/ios/splash667h@2x.png" platform="ios" width="750" height="1334"/>
  <splash src="res/ios/splash736h@3x.png" platform="ios" width="1242" height="2208"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>

  <access origin="*://debug.phonegap.com" subdomains="false"/>
  <access origin="https://api-dot-heartbend.appspot.com" subdomains="false"/>

  <allow-intent href="https:*"/>
  <allow-intent href="http:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
