<md-content confirmation-element flex layout-fill layout="column" layout-align="center center"> <img flex="none" src="imgs/process-express-delivery-circled.svg" class="round-cicle">
	<div flex="none">Pronto.</div>
	<div flex="none">{{confirmation.last.created_at | date : 'dd/MM/yyyy HH:mm' : '-0300'}}</div>
	<div flex="none" class="md-caption">Tempo aproximado para entrega:</div>
	<div flex="none">{{confirmation.last.object.node_estimated | secondsToMinutes}} minutos</div>
	<div flex="none">
		<br/>
		<center>Para evitarmos desencontros,
			<br/>por favor confirme seu telefone.
			<br/> <span class="md-caption md-padding">(Nunca o divulgaremos para parceiros.)</span> </center>
		<md-input-container flex='none' class="md-block" style="width:100%;">
			<label>Telefone</label>
			<input type="tel" name="phone" ng-model="confirmation.phone" minlength="8" maxlength="16" /> </md-input-container>
		<md-button class="md-raised md-warn full-button" style="margin:0!important" ng-if="confirmation.phone==''" ng-click="confirmation.back()">Voltar sem telefone</md-button>
		<md-button class="md-raised md-accent full-button" style="margin:0!important" ng-if="confirmation.phone!=''" ng-click="confirmation.save()">Ok, voltar</md-button>
	</div>
	<!-- <div flex="none" class="md-caption md-padding">
		Você sempre pode verificar<br/>seus pedidos na área... Pedidos :)
	</div> -->
</md-content>
