<md-content credit-element flex ng-cloak layout="column" style="">


		<div flex="none" layout="column" class="md-caption md-padding" style="margin-left:8px;" ng-cloak ng-show="credit.count > 0">
			<div>
				Escolha o cartão que você quer utilizar.
			</div>
			<div flex="none" layout="row">
				<div flex class="md-caption">Final</div>
				<div flex class="md-caption">Validade</div>
				<div flex></div>
				<div flex></div>
			</div>
		</div>

		<md-card flex="none" layout="row" class="card-credit md-padding" ng-class="credit.active.self_key == card.self_key ? 'md-whiteframe-8dp' : '' " style="margin-top:0px" ng-repeat="card in credit.credits track by card.self_key">
				<div flex layout="row" layout-align="start start" class="md-body-2">
					{{card.mask}}
				</div>
				<div flex layout="row" layout-align="start start" class="md-body-2">
					{{card.expiry}}
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action" style="color:red" ng-click="credit.remove(card.self_key)">Deletar</md-button>
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action" ng-class="credit.active.self_key == card.self_key ? 'md-accent' : 'md-accent md-raised'" ng-click="credit.setActive(card.self_key, card.mask, card.expiry)" ng-disable="credit.active.self_key == card.self_key">
						{{credit.active.self_key == card.self_key ? "Em Uso" : "Ativar"}}
					</md-button>
				</div>
		</md-card>



		<div flex="none" layout="column" class="md-caption md-padding" style="margin-left:8px;" ng-cloak ng-show="credit.self_key == 1">
			<div>
				Este cartão será salvo se você o utilizar na próxima compra. Caso não utilize, será apagado.
			</div>
			<div flex="none" layout="row">
				<div flex class="md-caption">Final</div>
				<div flex class="md-caption">Validade</div>
				<div flex></div>
				<div flex></div>
			</div>
		</div>

		<md-card flex="none" layout="row" class="card-credit md-padding" ng-class="credit.active.self_key == credit.new.self_key ? 'md-whiteframe-8dp' : '' " style="margin-top:0px" ng-show="credit.self_key == 1">
				<div flex layout="row" layout-align="start start" class="md-body-2">
					{{credit.new.mask}}
				</div>
				<div flex layout="row" layout-align="start start" class="md-body-2">
					{{credit.new.expiry}}
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action" style="color:red" ng-click="credit.removeNewCard()">Deletar</md-button>
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action" ng-class="credit.active.self_key == credit.new.self_key ? 'md-accent' : 'md-accent md-raised'" ng-click="credit.setActive(credit.new.self_key, credit.new.mask, credit.new.expiry)" ng-disable="credit.active.self_key == credit.new.self_key">
						{{credit.active.self_key == credit.new.self_key ? "Em uso" : "Usar"}}
					</md-button>
				</div>
		</md-card>






		<md-card flex="none" class="card-credit md-padding">

			<div flex="none" layout="column" ng-cloak>
				<span class="md-body-2">Adicionar cartão.</span>
				<span class="md-caption" ng-show="credit.count < 3 && credit.self_key == 0">Registre um novo cartão de crédito para utilizar em suas compras.</span>
				<span class="md-caption" ng-show="credit.self_key == 1">Você só pode registrar um cartão novo antes de uma nova compra.</span>
				<span class="md-caption" ng-show="credit.count + credit.self_key >= 3">Você pode ter no máximo 3 cartões salvos. Delete um cartão para cadastrar outro.</span>

			</div>

			<form name="creditForm" flex="none" layout="column" ng-show="credit.count < 3 && credit.self_key == 0" ng-cloak>
				<md-input-container>
					<label>Número do Cartão</label>
					<input type="tel" name="number" ng-model="credit.number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class='creditForm.number.$card.type' ng-required="true" required/>
				</md-input-container>

				<div layout="row">
					<md-input-container>
						<label>Validade</label>
						<input type="tel" ng-model="credit.expiry" payments-validate="expiry" payments-format="expiry" ng-required="true" required/>
					</md-input-container>

					<md-input-container>
						<label>Código de Segurança</label>
						<input type="tel" ng-model="credit.cvc" payments-validate="cvc" payments-format="cvc" ng-required="true" required payments-type-model="type"/>
					</md-input-container>
				</div>

				<!-- <md-input-container>
					<label>Nome Portador</label>
					<input type="text" ng-model="credit.holder" minlength="5" maxlength="40" ng-required="true" required/>
				</md-input-container> -->
				<div style="width:100%; height:5em" layout="row" layout-align="space-around center">
					<md-button class="md-raised md-accent wider" ng-click="credit.saveNewCard()" ng-disabled="creditForm.$invalid">Inserir Cartão</md-button>
				</div>

			</form>
		</md-card>
		<div flex="none" layout="column" class="md-caption md-padding" style="margin-left:8px;margin-right:8px;" ng-cloak>
			Cartões cadastrados só serão salvos após o primeiro uso na loja. Cartões não salvos serão removidos automaticamente se não utilizados.
		</div>


</md-content>
