<md-content element-feedbacks flex ng-cloak layout="column" class="" ng-cloak>

	<div ng-show="!feedbacks.loading && feedbacks.len >= 1" flex="none" class="md-padding" ng-cloak>
		<center>O que você achou destas cervejas?</center>
	</div>

	<div ng-show="feedbacks.len === 0" flex="none" class="md-padding" ng-cloak>
		<strong>Nenhuma avaliação pendente.</strong> Quando você receber nossos produtos você poderá avaliá-los aqui. É muito importante que você tenha experimentado cada cerveja,
		pois sua avaliação impactará diretamente e automaticamente no ranking dos produtos selecionados para você.
	</div>

	<md-card ng-repeat="feedback in feedbacks.list" flex="none" layout="column" style="background-color:#ffffff !important" class="md-padding" ng-cloak>
		<div flex='none' layout="row" layout-align="start end">
			<div flex="15">
				<img class="md-card-image md-whiteframe-0dp" alt="image"
				  ng-repeat="content in feedback.object.contents"
				  ng-if="content.object.function=='face_image'"
				  ng-src="{{content.object.url}}"
				  />
			</div>
			<div flex class="md-padding">
				<div class="promoted-maker">{{feedback.object.recipe.object.name}}</div>
			</div>
		</div>
		<div layout="column" class="md-padding">
			<md-slider md-discrete ng-model="feedback.object.float" step="1" min="1" max="5" aria-label="rating" ng-init="feedback.object.float=1" ng-change="feedbacks.touched = true;feedback.object.touched = true"></md-slider>
			<div flex layout="row" layout-align="space-between start">
				<div flex="none" class="md-caption">Não Gostei</div>
				<div flex="none" class="md-caption">Adorei</div>
			</div>


		</div>

	</md-card>

	<div ng-show="feedbacks.touched" flex="none" layout="row" layout-align="end center" ng-cloak>
		<md-button class="md-raised md-primary" ng-click="feedbacks.send()">Enviar</md-button>
	</div>

	<div ng-show="feedbacks.sent && !feedbacks.touched" flex="none" layout-padding ng-cloak>
		<p>Excelente!<br/>As avaliações foram salvas e complementarão sua experiência na próxima compra.</p>
	</div>

</md-content>
