<div map-element flex ng-cloak layout="column">

	<div flex layout="column" style="position:relative">
		<div flex id="mapping"></div>
		<div style="position:absolute;top:50%;left:50%"><md-icon md-svg-icon="imgs/map_pointer.svg" style="height:5em;width:1.5em;position:relative;top:-2.5em;left:-0.75em"></md-icon></div>

		<div ng-show="map.loading" style="position:absolute;top:0;left:0;width:100%;height:100%;background:#F4F2EF" layout="column" layout-align="center center">
			<md-progress-circular md-mode="indeterminate" md-diameter="120"></md-progress-circular>
		</div>

	</div>

	<form name="mapForm" flex="none" layout="column" style="width:100%" ng-cloak>
		<md-autocomplete flex
			md-no-cache="true"
			md-search-text="searchText"
			md-selected-item="selectedItem"
			md-search-text-change="search(searchText)"
			md-selected-item-change="place(item)"
			md-items="item in search(searchText)"
			md-item-text="item.description"
			md-min-length="3"
			md-floating-label="Endereco"
			md-autofocus="true"
			md-autoselect="true"
			required ng-required="true"
			ng-cloak>
			<md-item-template>
		    	<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.description}}</span>
			</md-item-template>
		</md-autocomplete>

		<div flex layout="row">
			<md-input-container flex class="md-block">
				<label>Complemento</label>
				<input type="text" ng-model="map.complement"/>
			</md-input-container>
		</div>

		<div style="width:100%; height:5em" layout="row" layout-align="space-around center">
			<md-button class="md-raised md-accent wider" ng-click="map.setCartAddress()" ng-disabled="mapForm.$invalid">Usar endereço</md-button>
		</div>

		<div flex="none" id="maps_attributions"></div>
	</form>



</div>
