<md-content plastics-element flex ng-cloak layout="column" class="">

		<div style="margin-top:8px"></div>

		<div class="md-padding md-caption" flex="none" layout="row" layout-align="center end">
			<span><md-icon md-svg-icon="imgs/ic_https_black_24px.svg" class="svg-green" style="height: 1.5em;position:relative;top:-0.25em;"></md-icon>Você está seguro.</span>
		</div>

		<md-card flex="none" layout="row" class="card-full card-credit md-padding" ng-class="plastics.plastic.path == plastic.path ? 'md-whiteframe-8dp background-white' : '' " style="margin-top:0px" ng-repeat="plastic in plastics.plastics track by plastic.path">
				<div flex layout="row" layout-align="center center" class="md-body">
					****{{plastic.object.mask}}
				</div>
				<div flex layout="row" layout-align="start center" class="md-body">
					{{plastic.object.expiry}}
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action md-caption" style="color:#FF6666" ng-click="plastics.remove(plastic)">Apagar</md-button>
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action" ng-class="plastics.plastic.path == plastic.path ? '' : 'md-accent'" ng-click="plastics.activate(plastic)" ng-disable="plastics.plastic.path == plastic.path">
						{{plastics.plastic.path == plastic.path ? "Em Uso" : "Ativar"}}
					</md-button>
				</div>
		</md-card>


		<md-card flex="none" class="card-full card-credit md-padding background-white">

			<!-- <div flex="none" layout="column" ng-cloak>
				<span class="md-body-2">Adicionar cartão.</span>
			</div> -->

			<form name="plasticForm" flex="none" layout="column" ng-cloak>
				<md-input-container md-no-float>
					<label>Número do Cartão</label>
					<input type="tel" name="number" ng-model="plastics.new.number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class='creditForm.number.$card.type' ng-required="true" required/>
				</md-input-container>

				<div layout="row">
					<md-input-container md-no-float>
						<label>Validade</label>
						<input type="tel" ng-model="plastics.new.expiry" payments-validate="expiry" payments-format="expiry" ng-required="true" required/>
					</md-input-container>

					<md-input-container md-no-float>
						<label>Código de Segurança</label>
						<input type="tel" ng-model="plastics.new.cvc" payments-validate="cvc" payments-format="cvc" ng-required="true" required payments-type-model="type"/>
					</md-input-container>
				</div>
			</form>
		</md-card>

		<div flex="none" layout="row">
			<md-button class="md-raised md-accent full-button" ng-click="plastics.save()" ng-disabled="plasticForm.$invalid">Salvar Cartão</md-button>
		</div>

</md-content>
