<md-content flex="fill" plastics-element layout="column">
		<div layout="row" ng-show="plastics.loading" layout-align="center center" style="z-index:9000;position:absolute;width:100%;height:100%;top:0;left:0;background-color: rgba(255, 255, 255, 0.84);">
			<md-progress-circular flex="none" md-mode="indeterminate"></md-progress-circular>
		</div>

		<!-- <div ng-show="!plastics.loading && !plastics.plastics" class="md-padding" ng-cloak>
			<strong>Nenhum cartão salvo.</strong> Aqui você gerencia os cartões salvos para utilização na loja.
		</div> -->


		<div flex="none" style="margin-top:8px"></div>
		<div flex="none" class="md-padding md-caption" flex="none" layout="row" layout-align="center end">
			<span><md-icon md-svg-icon="imgs/ic_https_black_24px.svg" class="svg-green" style="height: 1.5em;position:relative;top:-0.25em;"></md-icon>Você está em segurança.</span>
		</div>

		<md-card flex="none" layout="row" class="card-full card-credit md-padding" ng-class="plastics.plastic.path == plastic.path ? 'md-whiteframe-8dp background-white' : '' " style="margin-top:0px;position:relative" ng-repeat="plastic in plastics.plastics track by plastic.path">
				<div flex layout="row" layout-align="center center" class="md-body">
					****{{plastic.object.mask}}
				</div>
				<div flex layout="row" layout-align="start center" class="md-body">
					{{plastic.object.expiry}}
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action md-caption" style="color:#FF6666" ng-click="plastics.remove(plastic);plastic.deleting=true">Apagar</md-button>
				</div>

				<div flex layout="row" layout-align="center center">
					<md-button class="card-action" ng-class="plastics.plastic.path == plastic.path ? '' : 'md-accent'" ng-click="plastics.activate(plastic)" ng-disable="plastics.plastic.path == plastic.path">
						{{plastics.plastic.path == plastic.path ? "Em Uso" : "Usar"}}
					</md-button>
				</div>

				<div layout="row" ng-show="plastic.deleting" layout-align="center center" style="z-index:9000;position:absolute;width:100%;height:100%;top:0;left:0;background-color: rgba(255, 255, 255, 0.84);">
					<md-progress-circular flex="none" md-mode="indeterminate"></md-progress-circular>
				</div>

		</md-card>

		<md-card flex="none" flex="none" class="card-full card-credit md-padding background-white" style="position:relative">
			<div class="md-caption">Aceitamos cartões de crédito VISA, Mastercard e American&nbsp;Express</div>
			<form layout="column" name="plasticForm" ng-cloak>
				<md-input-container flex="none" class="no-errors">
					<label>Número do Cartão</label>
					<input type="tel" name="number" ng-model="plastics.new.number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class='creditForm.number.$card.type' ng-required="true" required/>
				</md-input-container>

				<div flex="none" layout="row" layout-align="spacebetween center">
					<md-input-container flex class="no-errors">
						<label>Validade</label>
						<input type="tel" ng-model="plastics.new.expiry" payments-validate="expiry" payments-format="expiry" ng-required="true" required/>
					</md-input-container>

					<md-input-container flex class="no-errors">
						<label>Código de Segurança</label>
						<input type="tel" ng-model="plastics.new.cvc" payments-validate="cvc" payments-format="cvc" ng-required="true" required payments-type-model="type"/>
					</md-input-container>
				</div>
			</form>

			<div flex="none" layout="row" ng-show="plastics.sending" layout-align="center center" style="z-index:9000;position:absolute;width:100%;height:100%;top:0;left:0;background-color: rgba(255, 255, 255, 0.84);">
				<md-progress-circular flex="none" md-mode="indeterminate"></md-progress-circular>
			</div>

		</md-card>

		<div flex="none" layout="row">
			<md-button class="md-raised md-accent full-button" ng-click="plastics.save()" ng-disabled="plasticForm.$invalid || plastics.sending">Salvar Cartão</md-button>
		</div>

</md-content>
