	<md-card flex-fill class="card-full">

		<img class="md-card-image" alt="image"
			ng-repeat="content in promoted.object.sku.object.contents"
			ng-if="content.object.function=='face_image'"
			ng-src="{{content.object.url}}"
			width="1080" height="1080"
		/>

		<div flex="none" layout="row" style="border-bottom: 1px solid white">
			<md-button flex ng-click="vm.takeOne()" class="promoted-button" aria-label="retirar" ng-cloak>
			  <md-icon md-svg-icon="imgs/minus.svg" class="svg-black"></md-icon>
			</md-button>
			<div flex class="counter">{{vm.quantity}}</div>
			<md-button flex ng-click="vm.putOne()" class="promoted-button" aria-label="adicionar" ng-cloak>
			  <md-icon md-svg-icon="imgs/plus.svg" class="svg-green"></md-icon>
			</md-button>
		</div>

		<md-card-content class="promoted-card-content">
				<div flex layout="row">
					<div flex>
					    <div class="promoted-recipe">{{promoted.object.sku.object.recipe.object.name}}</div>
						<div class="promoted-maker">{{promoted.object.sku.object.maker.object.name}}</div>
						<div class="promoted-desc">{{promoted.object.sku.object.volume}}&nbsp;ml&nbsp;-&nbsp;{{promoted.object.sku.object.recipe.object.taste.alcohol_volume}}% abv
						</div>
					</div>

					<div flex="none" layout="column" layout-align="end end">
						<div class="promoted-price">R$18,00</div>
					</div>
				</div>

				<div flex class="promoted-content"
				ng-repeat="content in promoted.object.sku.object.contents"
				ng-if="content.object.function=='face_text'">
					<p>{{content.object.text}}</p>
				</div>


		</md-card-content>
	</md-card>
