<div element-quest flex layout-fill layout="column">
	<div flex="none">
		<md-button ui-sref="startPage" ng-click>Sair</md-button>
		You are in a quest.
	</div>

	<md-content>
		<form name="questForm" novalidate>
			<!-- <md-card flex class="card-tag md-whiteframe-1dp" ng-repeat="tag in quest.tags">
				<md-card-content flex layout="column">
					<h2>{{tag.q}}</h2>
					<md-radio-group name="{{tag.i}}" ng-required="true" required>
						<md-radio-button ng-repeat="a in tag.a" value="{{a.v}}">{{a.s}}</md-radio-button>
					</md-radio-group>
				</md-card-content>
			</md-card> -->


			<div flex layout-padding layout="column">

				<md-input-container>
				  <label>Nome</label>
				  <input name="name" minlength="5" maxlength="40" ng-required="true">
				</md-input-container>

				<md-input-container>
				  <label>Email</label>
				  <input name="email" type="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
				</md-input-container>

				<md-input-container>
				  <label>Senha</label>
				  <input name="new_password" type="password">
				</md-input-container>

				<div style="width:100%" layout="row" layout-align="space-around center">
					<md-button class="md-raised md-accent wider" ng-click="quest.send()">Criar Perfil</md-button>
				</div>

			</div>


		</form>
	</md-content>
</div>
