<div layout="column" flex="none" layout-fill>
	<md-toolbar toolbar-element flex md-component-id="able-toolbar" class="md-toolbar-tools main-toolbar" layout="row" layout-align="space-between center" ng-cloak>
		<md-button ng-click="toolbar.toggleLeftMenu('able-left-menu')" class="md-icon-button" aria-label="Menu" ng-cloak>
		  <md-icon md-svg-icon="imgs/ic_menu_white_48px.svg" class="svg-white"></md-icon>
		</md-button>

		<img flex="none" src="imgs/able-white.svg" class="main-toolbar-logo-small">
		<div flex class="toolbar-title" layout="row" layout-align="center center">{{app.state.current.data.title}}</div>
		<div flex="none" style="width:83px"></div>

	</md-toolbar>
	<div ui-view="offer" ng-show="$state.includes('storePage.offerPage')" layout="column" flex ng-cloak></div>
	<div ui-view ng-hide="$state.includes('storePage.offerPage')" layout="column" flex ng-cloak></div>
</div>

<md-sidenav left-menu style="z-index:9999" layout="column" class="md-sidenav-left" md-component-id="able-left-menu">
	<md-subheader>{{app.auth.safe.id}}</md-subheader>
	<md-list flex="none">
		<md-list-item ng-click="leftmenu.go('storePage.offerPage')">Loja</md-list-item>
    	<md-list-item ng-click="">Perfil</md-list-item>
		<md-list-item ng-click="leftmenu.go('storePage.ordersPage')">Pedidos</md-list-item>
		<md-list-item ng-click="leftmenu.go('storePage.confirmationPage')">Ultimo Pedido</md-list-item>
		<md-list-item ng-click="leftmenu.go('storePage.feedbacksPage')">Feedbacks</md-list-item>
		<md-list-item ng-click="leftmenu.go('storePage.creditPage')">Cartões de Créditos</md-list-item>
		<md-list-item ng-click="">Ajuda</md-list-item>
		<div flex></div>
		<md-divider></md-divider>
		<md-list-item ng-click="app.auth.signout()">Desconectar Conta</md-list-item>
  	</md-list>
</md-sidenav>
