<md-sidenav style="z-index:9999" layout="column" class="md-sidenav-left" md-component-id="able-left-menu">
	<md-subheader>User: {{app.auth.user.id}}</md-subheader>

	<md-list flex="none">
    	<md-list-item ng-click="">Perfil</md-list-item>
		<md-list-item ng-click="$state.go('storePage.offerPage')">Loja</md-list-item>
		<md-list-item ng-click="$state.go('storePage.ordersPage')">Pedidos</md-list-item>
		<md-list-item ng-click="$state.go('storePage.confirmationPage')">Ultimo Pedido</md-list-item>
		<md-list-item ng-click="$state.go('storePage.feedbacksPage')">Feedbacks</md-list-item>
		<md-list-item ng-click="">Cartões de Créditos</md-list-item>
		<md-list-item ng-click="">Ajuda</md-list-item>
		<div flex></div>
		<md-divider></md-divider>
		<md-list-item ng-click="app.auth.signout()">Desconectar Conta</md-list-item>
  	</md-list>

</md-sidenav>
